
LLM_MODEL="ministral-3:8b-cloud"
BASE_URL="http://localhost:11434/v1"
OPENAI_API_KEY="your_openai_api_key_here"


## vector db
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"
COLLECTION = "lease_docs"
LOCAL_VDB_PATH = "local_vdb/chroma_db"
COLLECTION_NAME = "lease_docs"
N_RESULTS = 3
KNOWLEDGE_BASE_DOCS_DIR = "synthetic_data/knowledge_base"


## gmail credentials
GMAIL_CREDENTIALS_FILE="secrets/credentials.json"
GMAIL_TOKEN_FILE="secrets/token.json"